[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
gunicorn = "*"
requests = "*"
gevent = "*"
falcon-cors = "*"

[dev-packages]
pycodestyle = "*"
"autopep8" = "*"
expects = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
